body {
  color: white;
  background-color: #141414;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  text-align: center;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  text-shadow: 1px 0px 12px;
}

img {
  padding: 0;
}

button {
  padding: 0;
  border-radius: 9px;
  background-color: #141414;
}

a {
  color: #009CDD;
  text-shadow: 1px 0px 12px #023088;
}

/* Specific text styling */
.word-rock {
  color: #febff7;
  text-shadow: 1px 0px 12px #ff55c4;
}

.word-paper {
  color: #6cfefe;
  text-shadow: 1px 0px 12px #459eff;
}

.word-scissors {
  color: #fef649;
  text-shadow: 1px 0px 12px #ffc228;
}

/* Container Styling */
.play-buttons-container {
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Image Styling */
.play-button-img {
  margin-bottom: -4px;
  width: 10vw;
  border: solid;
  border-radius: 9px;
}

.choice-img {
  width: 5vw;
}

.choices {
  display: flex;
  flex-direction: row;
}

/* Buttong Styling */
#play-button-rock {
  border-color: #febff7;
  box-shadow: 1px 0px 12px #ff55c4;
}

#play-button-paper {
  border-color: #6cfefe;
  box-shadow: 1px 0px 12px #459eff;
}

#play-button-scissors {
  border-color: #fef649;
  box-shadow: 1px 0px 12px #ffc228;
}

.paypal {
  border-radius: 25px;
  width: 15vw;
  height: 5vh;
}

/* Modal Styles */
.endgame-modal {
  background-color: grey;
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  text-align: center;
  user-select: none;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  padding: 1%;
}

.modal-active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-button-container {
  flex-direction: row;
  justify-content: space-between;
}

.modal-button {
  color: white;
  border-radius: 25px;
  width: 15vw;
  height: 5vh;
  margin: 10px;
}

.button-label {
  margin: 0;
}

/* Overlay Styling */
.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .6;
}
