body {
  color: white;
  background-color: #141414;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  text-shadow: 1px 0px 12px;
}

img {
  padding: 0;
}

button {
  padding: 0;
  /*border: solid inset;*/
  border-radius: 9px;
}

a {
  color: #009CDD;
  text-shadow: 1px 0px 12px #023088;
}

/* Specific text styling */
.word-rock {
  color: #febff7;
  text-shadow: 1px 0px 12px #ff55c4;
}

.word-paper {
  color: #6cfefe;
  text-shadow: 1px 0px 12px #459eff;
}

.word-scissors {
  color: #fef649;
  text-shadow: 1px 0px 12px #ffc228;
}

/* Container Styling */
.play-buttons-container {
  width: 70vw;
  display: flex;
  justify-content: space-around;
}

/* Image Styling */
.play-button-img {
  margin-bottom: -4px;
  width: 10vw;
  border: solid;
  border-radius: 9px;
}

/* Buttong Styling */
#play-button-rock {
  border-color: #febff7;
  box-shadow: 1px 0px 12px #ff55c4;
}

#play-button-paper {
  border-color: #6cfefe;
  box-shadow: 1px 0px 12px #459eff;
}

#play-button-scissors {
  border-color: #fef649;
  box-shadow: 1px 0px 12px #ffc228;
}
